body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    height: 100vh;
}

#welcome {
    color: aliceblue;
}

#button {
    width: 13.89vh;
    height: 4.17vh;
    font-size: 2.78vh;
    position: relative;
    z-index: 1100;
    background-color: aqua;
    border-color: blue;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1000;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #000;
}
